apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tempest-home
spec:
  resources:
    requests:
        storage: 10G
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
---
apiVersion: v1
kind: Pod
metadata:
  name: tempest-worker
spec:
  securityContext:
     fsGroup: 42480
  volumes:
    - name: tempest-workdir
      persistentVolumeClaim:
        claimName: tempest-home
    - name: cloud-passwd
      secret:
         secretName: openstack-config-secret
    - name: clouds-config
      configMap:
          name: openstack-config
    - name: tempest-config
      configMap:
          name: my-tempest-data
    - name: certificate
      secret:
          secretName: combined-ca-bundle
    - name: pre-install
      emptyDir: {}
  containers:
    - name: tempest-container
      image: quay.io/podified-antelope-centos9/openstack-tempest:current-podified
      # Uncomment the following line to make the container sleep - that overrides
      # any run commands defined in the tempest image - that will allow you to
      # ssh to the container, install e.g. tempest plugins, change the tempest
      # configuration and run tempest yourself.
      # command: ["/usr/bin/dumb-init", "sleep", "infinity"]
      restartPolicy: Never
      envFrom:
        - configMapRef:
            name: my-tempest-data
      volumeMounts:
        - mountPath: "/var/lib/tempest/external_files/"
          name: tempest-workdir
        - mountPath: "/var/lib/tempest/include.txt"
          name: tempest-config
          subPath: include.txt
        - mountPath: "/etc/openstack"
          name: pre-install
        - mountPath: "/etc/openstack/clouds.yaml"
          name: clouds-config
          subPath: clouds.yaml
        - mountPath: "/etc/openstack/secure.yaml"
          name: cloud-passwd
          subPath: secure.yaml
        - mountPath: "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"
          name: certificate
          subPath: tls-ca-bundle.pem
      env:
        - name: OS_CLOUD
          valueFrom:
            configMapKeyRef:
              name: openstack-config
              key: OS_CLOUD
