---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - security.openshift.io
  resourceNames:
  - anyuid
  - privileged
  resources:
  - securitycontextconstraints
  verbs:
  - use
- apiGroups:
  - test.openstack.org
  resources:
  - ansibletests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - test.openstack.org
  resources:
  - ansibletests/finalizers
  verbs:
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - ansibletests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - horizontests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - test.openstack.org
  resources:
  - horizontests/finalizers
  verbs:
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - horizontests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - tempests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - test.openstack.org
  resources:
  - tempests/finalizers
  verbs:
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - tempests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - tobikoes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - test.openstack.org
  resources:
  - tobikoes/finalizers
  verbs:
  - update
- apiGroups:
  - test.openstack.org
  resources:
  - tobikoes/status
  verbs:
  - get
  - patch
  - update
