---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: tempests.test.openstack.org
spec:
  group: test.openstack.org
  names:
    kind: Tempest
    listKind: TempestList
    plural: tempests
    singular: tempest
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Tempest is the Schema for the tempests API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TempestSpec defines the desired state of Tempest
            properties:
              backoffLimit:
                default: 0
                description: BackoffLimimt allows to define the maximum number of
                  retried executions (defaults to 6).
                format: int32
                type: integer
              containerImage:
                description: Tempest Container Image URL (will be set to environmental
                  default if empty)
                type: string
              externalEndpoints:
                description: ExternalEndpoints, expose a VIP using a pre-created IPAddressPool
                items:
                  description: MetalLBConfig to configure the MetalLB loadbalancer
                    service
                  properties:
                    endpoint:
                      description: Endpoint, OpenStack endpoint this service maps
                        to
                      enum:
                      - internal
                      - public
                      type: string
                    ipAddressPool:
                      description: IPAddressPool expose VIP via MetalLB on the IPAddressPool
                      minLength: 1
                      type: string
                    loadBalancerIPs:
                      description: LoadBalancerIPs, request given IPs from the pool
                        if available. Using a list to allow dual stack (IPv4/IPv6)
                        support
                      items:
                        type: string
                      type: array
                    sharedIP:
                      default: true
                      description: SharedIP if true, VIP/VIPs get shared with multiple
                        services
                      type: boolean
                    sharedIPKey:
                      default: ""
                      description: SharedIPKey specifies the sharing key which gets
                        set as the annotation on the LoadBalancer service. Services
                        which share the same VIP must have the same SharedIPKey. Defaults
                        to the IPAddressPool if SharedIP is true, but no SharedIPKey
                        specified.
                      type: string
                  required:
                  - endpoint
                  - ipAddressPool
                  type: object
                type: array
              networkAttachments:
                description: NetworkAttachments is a list of NetworkAttachment resource
                  names to expose the services to the given network
                items:
                  type: string
                type: array
              nodeSelector:
                additionalProperties:
                  type: string
                description: NodeSelector to target subset of worker nodes running
                  this service
                type: object
              openStackConfigMap:
                default: openstack-config
                description: OpenStackConfigMap is the name of the ConfigMap containing
                  the clouds.yaml
                type: string
              openStackConfigSecret:
                default: openstack-config-secret
                description: OpenStackConfigSecret is the name of the Secret containing
                  the secure.yaml
                type: string
              tempestRun:
                description: TempestSpec TempestRun parts
                properties:
                  concurrency:
                    default: -1
                    description: Concurrency is the Default concurrency
                    format: int64
                    type: integer
                  excludeList:
                    default: ""
                    description: ExcludeList
                    type: string
                  includeList:
                    default: tempest.api.identity.v3
                    description: IncludeList
                    type: string
                  parallel:
                    default: true
                    description: Run tests in parallel
                    type: boolean
                  serial:
                    default: false
                    description: Serial run
                    type: boolean
                  smoke:
                    default: false
                    description: Smoke tests
                    type: boolean
                  workerFile:
                    default: ""
                    description: WorkerFile is the detailed concurrency spec file
                    type: string
                type: object
              tempestconfRun:
                description: TempestSpec PythonTempestconf parts
                properties:
                  append:
                    default: ""
                    description: Append values to tempest.conf
                    type: string
                  collectTiming:
                    default: false
                    description: Collect per-API call timing information.
                    type: boolean
                  convertToRaw:
                    default: false
                    description: Convert images to raw format before uploading.
                    type: boolean
                  create:
                    default: true
                    description: Create Tempest resources
                    type: boolean
                  createAccountsFile:
                    default: ""
                    description: Generate Tempest accounts file.
                    type: string
                  debug:
                    default: false
                    description: Print debugging information.
                    type: boolean
                  deployerInput:
                    default: ""
                    description: Path to deployer file
                    type: string
                  flavorMinDisk:
                    default: -1
                    description: Specify minimum disk size for new flavors
                    format: int64
                    type: integer
                  flavorMinMem:
                    default: -1
                    description: Specify minimum memory for new flavors
                    format: int64
                    type: integer
                  generateProfile:
                    default: ""
                    description: Generate a sample profile.yaml file.
                    type: string
                  image:
                    default: ""
                    description: An image name/path/url to be uploaded to glance if
                      it’s not already there.
                    type: string
                  imageDiskFormat:
                    default: ""
                    description: A format of an image to be uploaded to glance.
                    type: string
                  insecure:
                    default: false
                    description: Explicitly allow client to perform “insecure” TLS
                      (https) requests.
                    type: boolean
                  networkID:
                    default: ""
                    description: Specify which network with external connectivity
                      should be used by the test.
                    type: string
                  noDefaultDeployer:
                    default: false
                    description: Do not check for the default deployer input in
                    type: boolean
                  nonAdmin:
                    default: false
                    description: Simulate non-admin credentials.
                    type: boolean
                  out:
                    default: ""
                    description: Output file
                    type: string
                  overrides:
                    default: identity.v3_endpoint_type public
                    description: Override options
                    type: string
                  profile:
                    default: ""
                    description: python-tempestconf’s profile.yaml file
                    type: string
                  remove:
                    default: ""
                    description: Append values to tempest.conf
                    type: string
                  retryImage:
                    default: false
                    description: Allow tempestconf to retry download an image, in
                      case of failure.
                    type: boolean
                  testAccounts:
                    default: ""
                    description: Tempest accounts.yaml file
                    type: string
                  timeout:
                    default: -1
                    description: Set request timeout (in seconds).
                    format: int64
                    type: integer
                  verbose:
                    default: false
                    description: Print more information about the execution.
                    type: boolean
                type: object
            required:
            - containerImage
            - openStackConfigMap
            - openStackConfigSecret
            type: object
          status:
            description: TempestStatus defines the observed state of Tempest
            properties:
              conditions:
                description: Conditions
                items:
                  description: Condition defines an observation of a API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase.
                      type: string
                    severity:
                      description: Severity provides a classification of Reason code,
                        so the current situation is immediately understandable and
                        could act accordingly. It is meant for situations where Status=False
                        and it should be indicated if it is just informational, warning
                        (next reconciliation might fix it) or an error (e.g. DB create
                        issue and no actions to automatically resolve the issue can/should
                        be done). For conditions where Status=Unknown or Status=True
                        the Severity should be SeverityNone.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              hash:
                additionalProperties:
                  type: string
                description: Map of hashes to track e.g. job status
                type: object
              networkAttachments:
                additionalProperties:
                  items:
                    type: string
                  type: array
                description: NetworkAttachments status of the deployment pods
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
